:root {

    --logo-padding-left: 2vw;

    --header-padding-right: 2vw;

    --hero-padding-left: 10vw;
    --hero-padding-right: 10vw;

    --color-1: #53595a;
    --color-2: #859fa1;
    --color-3: #98babc;
    --color-white: white;

    --box-shadow-button: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
}


body {
    margin: 0;
    padding: 0;
    font-family: lato-light, system-ui,"Roboto",Arial,sans-serif
}

.logo-container, .menu-container, header{
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: var(--color-1);
    color: var(--color-2);
}

.micron-logo {
    width: 100px;
}

.logo-container {
    display: flex;

    justify-content: center;
    align-items: center;
    
    gap: 50px;
    height: 5vh;
}

.menu-container {
    padding-right: var(--header-padding-right);
    margin-top: auto;
    margin-bottom: auto;

    gap: var(--header-padding-right);
}

.hero {
    background-color: rgb(161, 161, 161);
    background-blend-mode: multiply;
    background-image: url(studio-pic.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    display: grid;
    height: 70vh;
    grid-template-rows: 2fr 2fr 1fr;
}

.hero-text, .hero-small-text {
    color: var(--color-white);
}

.hero-text {
    font-size: 54px;
    font-weight: 550;
    width: 40vw;
    text-align: center;

    justify-self: center;
    align-self: center;
}

.hero-small-text{
    font-size: 24px;
    font-weight: 100;
    width: 50vw;
    

    justify-self: center;
    align-self: center;
}

.logo{
    width: 100px;
}

.sony{
    width: 60px;
}

.logo-rec-container {
    display: flex;

    justify-content: center;
    align-items: center;
    
    margin-top: auto;
    margin-bottom: auto;

    gap: 50px;
    height: 5vh
}

.button-1 {
    width: 80px;
    height: 20px;

    justify-self: center;
    align-self: center;

    background-color: var(--color-3);
    border-radius: 5px;
    border: none;

    color: var(--color-white);

    box-shadow: var(--box-shadow-button);
}

.filter-white {
    filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(109deg) brightness(105%) contrast(105%);
}
